{% extends 'base.html' %}
{% load bootstrap3 %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="container" id="system-status">
        <h1 class="text-center">System Status</h1>
        <p class="text-center">as of <strong>{% now "jS F Y H:i" %}</strong></p>
        <div class="system-status">
            <div class="row">
                <div class="col-md-6">
                    <h2>Overview </h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Web Cluster A</td>
                                <td><i class="glyphicon glyphicon-ok"></i>Online</td>
                            </tr>
                            <tr>
                                <td>Web Cluster B</td>
                                <td><i class="glyphicon glyphicon-ok"></i>Online</td>
                            </tr>
                            <tr>
                                <td>Network</td>
                                <td><i class="glyphicon glyphicon-ok"></i>Online</td>
                            </tr>
                            <tr>
                                <td>Notification System</td>
                                <td><i class="glyphicon glyphicon-ok"></i>Online</td>
                            </tr>
                            <tr>
                                <td>Monitoring System</td>
                                <td><i class="glyphicon glyphicon-ok"></i>Online</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Latest Updates
                    </h2>
                    {% for article in news %}
                        <div class="well">
                            <h3>{{ article.title }} </h3>
                            <p>{{ article.content }} </p>
                            <div class="latest-update-timestamp">
                                <span><strong>{{ article.pub_date }}</strong></span></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}