{% extends 'base.html' %}
{% load bootstrap3 %}

{% block styles %}
{% endblock %}

{% block content %}
    {% for server in servers %}
        <div class="col-sm-3 col-md-3">
            <div class="well">
                <h2 class="text-info">{{ server.name }}</h2>
                <h5>Allowed tiers:</h5>
                <ul>
                    {% for tier in server.tiers.all %}
                        <li>{{ tier.name }}</li>
                    {% endfor %}
                </ul>
                <hr>
                <h4>{{ server.max_subscribers }} max subscribers</h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}