{% extends 'base.html' %}
{% load bootstrap3 %}
{% load tiers %}

{% block styles %}
{% endblock %}

{% block content %}
    {% for server in servers %}
        <div class="col-sm-3 col-md-3">
            <div class="well">
                <h2 class="text-info">{{ server.name }}</h2>
                <h4>Tiers:</h4>
                <ul>
                    {% for tier in server.tiers.all %}
                        <li>{{ tier.name }} - {{ tier|available_tier_slots:server }} available</li>
                    {% endfor %}
                </ul>
                <hr>
                <h4>{{ server.max_subscribers }} max subscribers</h4>
                <hr>
                {% if server.available_slots %}
                    <h4>{{ server.available_slots }} available slots</h4>
                    <hr>
                    <p><a class="btn btn-default btn-md" href="{% url 'order' server.pk %}"><i class="icon-ok"></i>
                        Select server</a></p>
                {% else %}
                    <h4>There are NO available slots!</h4>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}