{% extends 'base.html' %}
{% load bootstrap3 %}

{% block styles %}
{% endblock %}

{% block content %}
    {% for tier in tiers %}
        <div class="col-sm-3 col-md-3">
            <div class="well">
                <h2 class="text-info">{{ tier.name }}</h2>
                <h5>Package limits:</h5>
                <ul>
                    <li>{{ tier.max_streams }} concurrent streams</li>
                    {% if not tier.allowed_sync %}
                        <li>Offline sync is NOT allowed</li>
                    {% endif %}
                </ul>
                {% if tier.allowed_sync %}
                    <p>Offline sync is allowed</p>
                {% endif %}
                <p>{{ tier.description }}</p>
                <hr>
                <h3>{{ tier.price }} / month</h3>
                <hr>
                <p><a class="btn btn-default btn-lg" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}