{% load static %}
{% load bootstrap3 %}
{% load core %}
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>myflix</title>
    <!-- Styles -->
    {% bootstrap_css %}
    <style>
        {% block styles %}
        {% endblock %}
    </style>
    <!-- Scripts -->
    <script>
        {% block scripts %}
        {% endblock %}
    </script>
</head>

<body>

<div id="navbar">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">

                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Branding Image -->
                <a class="navbar-brand" href="{% url 'index' %}">
                    MyFlix
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li role="presentation" {% if request.path|startswith:'/tiers/' %}class="active"{% endif %}>
                        <a href="{% url 'tiers' %}">Tiers</a>
                    </li>
                    <li role="presentation" {% if request.path|startswith:'/servers/' %}class="active"{% endif %}>
                        <a href="{% url 'servers' %}">Servers</a>
                    </li>
                    <li role="presentation" {% if request.path|startswith:'/help/' %}class="active"{% endif %}>
                        <a href="{% url 'help' %}">Help</a>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                My Account <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li {% if request.path|startswith:'/account/profile' %}class="active"{% endif %}><a
                                        href="{% url 'profile' %}">Profile</a></li>
                                <li class="nav-divider">
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <!-- Authentication Links -->
                        <li {% if request.path|startswith:'/account/login' %}class="active"{% endif %}><a
                                href="{% url 'login' %}">Login</a></li>
                        <li {% if request.path|startswith:'/account/register' %}class="active"{% endif %}><a
                                href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="app" class="container">
    {% block content %}
    {% endblock %}
</div>

{% bootstrap_javascript jquery=True %}
</body>

</html>